In [10]:
import sqlite3

# Establish connection
conn = sqlite3.connect('/Users/shsu/Documents/GitHub/dsc/Unit 8 - SQL & Databases/8.3 SQL Case Study - Country Club/SQLFiles Tier 2/sqlite_db_pythonsqlite.db')

# Create a cursor object
cursor = conn.cursor()

# Execute a query
query = """
    SELECT f.name AS facility_name,
           SUM(
               CASE
                   WHEN b.memid = 0 THEN f.guestcost * b.slots
                   ELSE f.membercost * b.slots
               END
           ) AS total_revenue
    FROM Facilities AS f
    JOIN Bookings AS b ON f.facid = b.facid
    GROUP BY f.facid, f.name
    HAVING total_revenue < 1000
    ORDER BY total_revenue
"""
cursor.execute(query)

# Fetch and print the results
results = cursor.fetchall()
for row in results:
    print("Facility: {}, Total Revenue: {}".format(row[0], row[1]))

# Close the cursor and connection
cursor.close()
conn.close()

Facility: Table Tennis, Total Revenue: 180
Facility: Snooker Table, Total Revenue: 240
Facility: Pool Table, Total Revenue: 270

In [13]:
# Establish connection
conn = sqlite3.connect('/Users/shsu/Documents/GitHub/dsc/Unit 8 - SQL & Databases/8.3 SQL Case Study - Country Club/SQLFiles Tier 2/sqlite_db_pythonsqlite.db')

# Create a cursor object
cursor = conn.cursor()

# Execute the query
query = """
    SELECT
        m1.surname AS member_surname,
        m1.firstname AS member_firstname,
        m2.surname AS recommender_surname,
        m2.firstname AS recommender_firstname
    FROM
        Members AS m1
    LEFT JOIN
        Members AS m2 ON m1.recommendedby = m2.memid
    ORDER BY
        m1.surname, m1.firstname
"""
cursor.execute(query)

# Fetch and print the results
results = cursor.fetchall()
for row in results:
    member_surname, member_firstname, recommender_surname, recommender_firstname = row
    print("Member: {} {}, Recommender: {} {}".format(
        member_firstname, member_surname, recommender_firstname, recommender_surname
    ))

# Close the cursor and connection
cursor.close()
conn.close()

Member: Florence Bader, Recommender: Ponder Stibbons
Member: Anne Baker, Recommender: Ponder Stibbons
Member: Timothy Baker, Recommender: Jemima Farrell
Member: Tim Boothe, Recommender: Tim Rownam
Member: Gerald Butters, Recommender: Darren Smith
Member: Joan Coplin, Recommender: Timothy Baker
Member: Erica Crumpet, Recommender: Tracy Smith
Member: Nancy Dare, Recommender: Janice Joplette
Member: David Farrell, Recommender: None None
Member: Jemima Farrell, Recommender: None None
Member: GUEST GUEST, Recommender: None None
Member: Matthew Genting, Recommender: Gerald Butters
Member: John Hunt, Recommender: Millicent Purview
Member: David Jones, Recommender: Janice Joplette
Member: Douglas Jones, Recommender: David Jones
Member: Janice Joplette, Recommender: Darren Smith
Member: Anna Mackenzie, Recommender: Darren Smith
Member: Charles Owen, Recommender: Darren Smith
Member: David Pinker, Recommender: Jemima Farrell
Member: Millicent Purview, Recommender: Tracy Smith
Member: Tim Rownam, Recommender: None None
Member: Henrietta Rumney, Recommender: Matthew Genting
Member: Ramnaresh Sarwin, Recommender: Florence Bader
Member: Darren Smith, Recommender: None None
Member: Darren Smith, Recommender: None None
Member: Jack Smith, Recommender: Darren Smith
Member: Tracy Smith, Recommender: None None
Member: Ponder Stibbons, Recommender: Burton Tracy
Member: Burton Tracy, Recommender: None None
Member: Hyacinth Tupperware, Recommender: None None
Member: Henry Worthington-Smyth, Recommender: Tracy Smith

In [14]:
# Establish connection
conn = sqlite3.connect('/Users/shsu/Documents/GitHub/dsc/Unit 8 - SQL & Databases/8.3 SQL Case Study - Country Club/SQLFiles Tier 2/sqlite_db_pythonsqlite.db')

# Create a cursor object
cursor = conn.cursor()
# Execute the query
query = """
    SELECT
        f.name AS facility_name,
        COUNT(*) AS usage_count
    FROM
        Facilities AS f
    JOIN
        Bookings AS b ON f.facid = b.facid
    WHERE
        b.memid != 0
    GROUP BY
        f.facid, f.name
"""
cursor.execute(query)

# Fetch and print the results
results = cursor.fetchall()
for row in results:
    facility_name, usage_count = row
    print("Facility: {}, Usage Count: {}".format(facility_name, usage_count))

# Close the cursor and connection
cursor.close()
conn.close()

Facility: Tennis Court 1, Usage Count: 308
Facility: Tennis Court 2, Usage Count: 276
Facility: Badminton Court, Usage Count: 344
Facility: Table Tennis, Usage Count: 385
Facility: Massage Room 1, Usage Count: 421
Facility: Massage Room 2, Usage Count: 27
Facility: Squash Court, Usage Count: 195
Facility: Snooker Table, Usage Count: 421
Facility: Pool Table, Usage Count: 783

In [15]:
# Establish connection
conn = sqlite3.connect('/Users/shsu/Documents/GitHub/dsc/Unit 8 - SQL & Databases/8.3 SQL Case Study - Country Club/SQLFiles Tier 2/sqlite_db_pythonsqlite.db')

# Create a cursor object
cursor = conn.cursor()

# Execute the query
query = """
    SELECT
        strftime('%Y-%m', b.starttime) AS usage_month,
        f.name AS facility_name,
        COUNT(*) AS usage_count
    FROM
        Facilities AS f
    JOIN
        Bookings AS b ON f.facid = b.facid
    WHERE
        b.memid != 0
    GROUP BY
        usage_month, f.facid, f.name
"""
cursor.execute(query)

# Fetch and print the results
results = cursor.fetchall()
for row in results:
    usage_month, facility_name, usage_count = row
    print("Month: {}, Facility: {}, Usage Count: {}".format(usage_month, facility_name, usage_count))

# Close the cursor and connection
cursor.close()
conn.close()

Month: 2012-07, Facility: Tennis Court 1, Usage Count: 65
Month: 2012-07, Facility: Tennis Court 2, Usage Count: 41
Month: 2012-07, Facility: Badminton Court, Usage Count: 51
Month: 2012-07, Facility: Table Tennis, Usage Count: 48
Month: 2012-07, Facility: Massage Room 1, Usage Count: 77
Month: 2012-07, Facility: Massage Room 2, Usage Count: 4
Month: 2012-07, Facility: Squash Court, Usage Count: 23
Month: 2012-07, Facility: Snooker Table, Usage Count: 68
Month: 2012-07, Facility: Pool Table, Usage Count: 103
Month: 2012-08, Facility: Tennis Court 1, Usage Count: 111
Month: 2012-08, Facility: Tennis Court 2, Usage Count: 109
Month: 2012-08, Facility: Badminton Court, Usage Count: 132
Month: 2012-08, Facility: Table Tennis, Usage Count: 143
Month: 2012-08, Facility: Massage Room 1, Usage Count: 153
Month: 2012-08, Facility: Massage Room 2, Usage Count: 9
Month: 2012-08, Facility: Squash Court, Usage Count: 85
Month: 2012-08, Facility: Snooker Table, Usage Count: 154
Month: 2012-08, Facility: Pool Table, Usage Count: 272
Month: 2012-09, Facility: Tennis Court 1, Usage Count: 132
Month: 2012-09, Facility: Tennis Court 2, Usage Count: 126
Month: 2012-09, Facility: Badminton Court, Usage Count: 161
Month: 2012-09, Facility: Table Tennis, Usage Count: 194
Month: 2012-09, Facility: Massage Room 1, Usage Count: 191
Month: 2012-09, Facility: Massage Room 2, Usage Count: 14
Month: 2012-09, Facility: Squash Court, Usage Count: 87
Month: 2012-09, Facility: Snooker Table, Usage Count: 199
Month: 2012-09, Facility: Pool Table, Usage Count: 408