In [7]:
import pandas as pd
file_path="/Users/shsu/Documents/Springboard/7. Data Wrangling/Data Sources/1. NFIP/nfip-flood-policies.csv"
nfip_df = pd.read_csv(file_path, nrows=50000, low_memory=False)

In [8]:
nfip_df = pd.DataFrame(nfip_df)

In [9]:
nfip_df.head()

,agriculturestructureindicator,basefloodelevation,basementenclosurecrawlspacetype,cancellationdateoffloodpolicy,censustract,condominiumindicator,construction,countycode,crsdiscount,deductibleamountinbuildingcoverage,...,primaryresidenceindicator,propertystate,reportedzipcode,ratemethod,regularemergencyprogramindicator,reportedcity,smallbusinessindicatorbuilding,totalbuildinginsurancecoverage,totalcontentsinsurancecoverage,totalinsurancepremiumofthepolicy
0,NaN,NaN,2,NaN,3.301304e+10,N,N,33013.0,0.00,0,...,Y,NH,3278,7,R,WARNER,NaN,250000,100000,375
1,NaN,NaN,0,NaN,2.206304e+10,N,N,22063.0,0.05,1,...,Y,LA,70726,1,R,DENHAM SPRINGS,NaN,16400,8800,280
2,NaN,NaN,0,NaN,4.505106e+10,N,N,45051.0,0.00,0,...,Y,SC,29579,7,R,MYRTLE BEACH,NaN,250000,100000,335
3,NaN,519.0,2,2016-04-01,1.055001e+09,N,N,1055.0,0.00,1,...,Y,AL,35901,2,R,GADSDEN,NaN,174900,21000,916
4,NaN,7.0,0,NaN,1.208600e+10,N,N,12086.0,0.00,0,...,Y,FL,33160,1,R,GOLDEN BEACH,NaN,250000,100000,1288

In [15]:
nfip_df.describe()

,agriculturestructureindicator,basefloodelevation,basementenclosurecrawlspacetype,censustract,countycode,crsdiscount,elevationdifference,federalpolicyfee,hfiaasurcharge,houseofworshipindicator,...,numberoffloorsininsuredbuilding,occupancytype,policycost,policycount,policytermindicator,reportedzipcode,smallbusinessindicatorbuilding,totalbuildinginsurancecoverage,totalcontentsinsurancecoverage,totalinsurancepremiumofthepolicy
count,0.0,16908.000000,50000.000000,4.971900e+04,49985.000000,50000.000000,50000.000000,50000.000000,50000.0,0.0,...,49917.000000,50000.000000,50000.000000,50000.00000,50000.000000,50000.000000,0.0,5.000000e+04,50000.000000,50000.000000
mean,NaN,94.149870,0.260340,2.561463e+10,25844.074722,0.061484,639.509480,27.916540,0.0,NaN,...,1.593024,1.308980,703.297340,1.25306,1.003320,47376.715740,NaN,2.192965e+05,50619.976000,672.444800
std,NaN,425.436696,0.640134,1.596246e+10,16227.550604,0.083675,480.214766,40.395585,0.0,NaN,...,0.816668,0.809323,1532.067913,4.82574,0.081419,26561.852884,NaN,9.707650e+05,56083.466013,1514.797715
min,NaN,-30.000000,0.000000,1.003000e+03,1001.000000,0.000000,-29.000000,0.000000,0.0,NaN,...,1.000000,1.000000,36.000000,1.00000,1.000000,21.000000,NaN,0.000000e+00,0.000000,1.000000
25%,NaN,7.000000,0.000000,1.207300e+10,12081.000000,0.000000,2.000000,13.000000,0.0,NaN,...,1.000000,1.000000,326.000000,1.00000,1.000000,32119.000000,NaN,1.138000e+05,0.000000,305.000000
50%,NaN,9.000000,0.000000,2.205102e+10,22051.000000,0.000000,999.000000,35.000000,0.0,NaN,...,1.000000,1.000000,388.000000,1.00000,1.000000,33955.000000,NaN,2.000000e+05,44100.000000,364.000000
75%,NaN,14.000000,0.000000,4.101801e+10,41047.000000,0.150000,999.000000,35.000000,0.0,NaN,...,2.000000,1.000000,744.000000,1.00000,1.000000,71284.250000,NaN,2.500000e+05,100000.000000,708.000000
max,NaN,7679.200000,4.000000,7.803096e+10,78030.000000,0.450000,8736.000000,735.000000,0.0,NaN,...,6.000000,4.000000,174868.000000,459.00000,3.000000,99835.000000,NaN,1.147500e+08,500000.000000,174133.000000

In [10]:
nfip_df.shape

(50000, 45)

In [11]:
import pandas as pd
nric="/Users/shsu/Documents/Springboard/7. Data Wrangling/Data Sources/2. National_Risk_Index_Counties.csv"
nric_df = pd.read_csv(nric)

nric_df.shape

(3142, 368)

In [9]:
nric_df.head()

,OBJECTID,NRI_ID,STATE,STATEABBRV,STATEFIPS,COUNTY,COUNTYTYPE,COUNTYFIPS,STCOFIPS,POPULATION,...,WNTW_EALA,WNTW_EALT,WNTW_EALS,WNTW_EALR,WNTW_RISKS,WNTW_RISKR,NRI_VER,GlobalID,SHAPE_Length,SHAPE_Area
0,1,C21115,Kentucky,KY,21,Johnson,County,115,21115,23356,...,4.235939,47363.199731,19.448529,Relatively Moderate,14.131237,Relatively Low,November 2021,{55EC05F7-E576-469E-B728-EF2D3AEFD6DA},1.553484,0.070028
1,2,C21117,Kentucky,KY,21,Kenton,County,117,21117,159720,...,44.606252,64259.532691,21.530408,Relatively Moderate,12.470040,Relatively Low,November 2021,{0868CDAC-FE0A-489E-8E2E-D5B7EB7AD660},1.094178,0.044207
2,3,C21119,Kentucky,KY,21,Knott,County,119,21119,16346,...,0.023091,30809.754620,16.851393,Relatively Low,14.466270,Relatively Low,November 2021,{A448B94E-9172-4B0C-B74B-321B3CF39E66},1.694376,0.092941
3,4,C21121,Kentucky,KY,21,Knox,County,121,21121,31883,...,0.082573,61427.308851,21.209328,Relatively Moderate,19.585915,Relatively Moderate,November 2021,{BA4C9D7D-5891-4EEE-9B3B-BF1F9BA5AA4A},1.920543,0.101520
4,5,C21123,Kentucky,KY,21,Larue,County,123,21123,14193,...,246.668438,12870.385216,12.597091,Relatively Low,7.715952,Very Low,November 2021,{55A74C8C-E1FD-4C88-8343-D977E94CD0B1},1.830220,0.069616

In [12]:
nric_df.columns

Index(['OBJECTID', 'NRI_ID', 'STATE', 'STATEABBRV', 'STATEFIPS', 'COUNTY',
       'COUNTYTYPE', 'COUNTYFIPS', 'STCOFIPS', 'POPULATION',
       ...
       'WNTW_EALA', 'WNTW_EALT', 'WNTW_EALS', 'WNTW_EALR', 'WNTW_RISKS',
       'WNTW_RISKR', 'NRI_VER', 'GlobalID', 'SHAPE_Length', 'SHAPE_Area'],
      dtype='object', length=368)

In [16]:
fima_location="/Users/shsu/Documents/Springboard/7. Data Wrangling/Data Sources/10. FEMA NFIP Claims/FemaNfipClaims.csv"
fima_df=pd.read_csv(fima_location)
fima_df.head()

,agricultureStructureIndicator,asOfDate,baseFloodElevation,basementEnclosureCrawlspace,reportedCity,condominiumIndicator,policyCount,countyCode,communityRatingSystemDiscount,dateOfLoss,...,postFIRMConstructionIndicator,rateMethod,smallBusinessIndicatorBuilding,state,totalBuildingInsuranceCoverage,totalContentsInsuranceCoverage,yearOfLoss,reportedZipcode,primaryResidence,id
0,0.0,2021-07-24T00:00:00.000Z,NaN,1.0,Temporarily Unavailable,N,1.0,24033.0,5.0,2007-01-01T00:00:00.000Z,...,0.0,7,0.0,MD,100000.0,40000.0,2007.0,20745.0,1.0,babe8abc-eae6-49f4-a5d6-b892b1087a45
1,0.0,2021-07-24T00:00:00.000Z,NaN,NaN,Temporarily Unavailable,N,1.0,30009.0,NaN,2011-07-12T00:00:00.000Z,...,0.0,1,0.0,MT,150000.0,0.0,2011.0,59068.0,1.0,dbc2a6cc-192f-47ee-bd3c-e76bcc6a2350
2,0.0,2021-11-20T00:00:00.000Z,50.0,NaN,Temporarily Unavailable,N,1.0,48201.0,5.0,2001-06-09T00:00:00.000Z,...,1.0,1,0.0,TX,25000.0,25000.0,2001.0,77025.0,1.0,547d731b-b35f-4d60-a903-15cc8a4d12df
3,0.0,2021-11-20T00:00:00.000Z,9.0,NaN,Temporarily Unavailable,N,1.0,12103.0,5.0,1996-10-07T00:00:00.000Z,...,0.0,1,0.0,FL,150000.0,35000.0,1996.0,33702.0,1.0,18e7a2e8-5b52-4cdd-82a2-9112dbbc953b
4,0.0,2021-11-20T00:00:00.000Z,NaN,NaN,Temporarily Unavailable,N,1.0,24029.0,NaN,2003-09-19T00:00:00.000Z,...,0.0,1,0.0,MD,75000.0,10000.0,2003.0,21620.0,0.0,40c5393a-03a4-41ed-8fb3-4b3de1e28534

In [17]:
fima_df.shape

(465360, 40)

In [18]:
fima_df.columns

Index(['agricultureStructureIndicator', 'asOfDate', 'baseFloodElevation',
       'basementEnclosureCrawlspace', 'reportedCity', 'condominiumIndicator',
       'policyCount', 'countyCode', 'communityRatingSystemDiscount',
       'dateOfLoss', 'elevatedBuildingIndicator',
       'elevationCertificateIndicator', 'elevationDifference', 'censusTract',
       'floodZone', 'houseWorship', 'latitude', 'longitude',
       'locationOfContents', 'lowestAdjacentGrade', 'lowestFloorElevation',
       'numberOfFloorsInTheInsuredBuilding', 'nonProfitIndicator',
       'obstructionType', 'occupancyType', 'originalConstructionDate',
       'originalNBDate', 'amountPaidOnBuildingClaim',
       'amountPaidOnContentsClaim',
       'amountPaidOnIncreasedCostOfComplianceClaim',
       'postFIRMConstructionIndicator', 'rateMethod',
       'smallBusinessIndicatorBuilding', 'state',
       'totalBuildingInsuranceCoverage', 'totalContentsInsuranceCoverage',
       'yearOfLoss', 'reportedZipcode', 'primaryResidence', 'id'],
      dtype='object')

In [19]:
fima_df.amountPaidOnBuildingClaim.describe()

count    3.354940e+05
mean     3.978617e+04
std      6.843527e+04
min     -1.622185e+05
25%      4.303398e+03
50%      1.494015e+04
75%      5.000000e+04
max      7.447962e+06
Name: amountPaidOnBuildingClaim, dtype: float64